<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MWL_ImagePickerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D140865B1D868FAA0041CC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D140866E1D868FAA0041CC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14086791D868FAA0041CC6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
